.contact {
    font-size: 80px;
    color: aqua;
}

.address {
    font-size: 50px;
    color: aqua;
}

.email {
    font-size: 50px;
    color: aqua;
}

.fax {
    font-size: 50px;
    color: aqua;
}